.passenger-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin-top: 50px;
    margin-left: 500px;
  
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.passenger-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Ensure form takes full width of container */

}

.passenger-form div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* PassengerPage.css */

.go-to-booking-button {
    padding: 10px 20px;
    background-color: rgb(228, 25, 120);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}



.passenger-form input, 
.passenger-form select {
    padding: 8px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.passenger-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.passenger-form button:hover {
    background-color: #0056b3;
}

.passenger-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.passenger-table th, 
.passenger-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.passenger-table th {
    background-color: #f2f2f2;
}
